params {
    input_bam     = null
    transcriptome = null
    stringtie_gff = null
    genome_fa     = null
    splice_index  = null
    vcf           = null

    outdir     = "results"
    threads    = 5
    merge_bams = true
}

process {
    withName: NORMALIZE_ONT_BAM {
        cpus = 8
        memory = 32.GB
        time = 12.h
    }

    withName: MAP_TO_TRANSCRIPTOME {
        cpus = 8
        memory = 64.GB
        time = 24.h
    }

    withName: TRANSCRIPTOME_TO_GENOME {
        cpus = 8
        memory = 32.GB
        time = 12.h
    }

    withName: BAM_QUANT {
        cpus = 16
        memory = 128.GB
        time = 48.h
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    csens {
        process.executor = 'slurm'
        executor.queueSize = 20

        process.scratch = true
        process.clusterOptions = { "-A csens2024-3-2" }
    }
}
